.forecast_weekday span:first-child {
  font-size: 20px;
  font-weight: 700;
}

.forecast_weekday {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: rgb(237, 242, 242);
  margin: 5px 0;
}

.forecast_icon {
  width: 70px;
}

.forecast_details {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.forecast_parameter-label {
  color: rgb(182, 182, 182);
  margin-right: 5px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .forecast_details {
    flex-direction: column;
  }

  .forecast_icon {
    width: 40px;
  }

  .forecast_weekday span:first-child {
    font-size: 14px;
  }

  .forecast_weekday span:last-child {
    font-size: 10px;
  }

  .forecast_parameter-label,
  .forecast_parameter-value {
    font-size: 10px;
  }

  .forecast_details {
    gap: 0;
  }
}
