.weather {
  margin: 20px auto;
  border-radius: 5px;
  background-color: rgb(135, 133, 177);
  color: white;
  padding: 10px 20px;
}

.top,
.bottom,
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}

.city {
  font-weight: 700;
  font-size: 35px;
  margin: 0;
}

.weather-description {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}

.weather-icon {
  width: 100px;
}

.temperature {
  font-weight: 700;
  font-size: 50px;
  margin: 0;
}

.parameter-label {
  color: rgb(195, 191, 191);
  margin-right: 5px;
}

.details {
  padding-top: 15px;
  width: 100%;
  border-top: 1px solid white;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .weather-icon {
    width: 50px;
  }

  .city {
    font-size: 16px;
  }

  .temperature {
    font-size: 16px;
  }

  .weather {
    padding: 5px 10px;
  }

  .weather-description {
    font-size: 10px;
  }

  .parameter-label,
  .parameter-value {
    font-size: 10px;
  }
}
