.weather {
  /* width: 70%; */
  margin: 20px auto;
  border-radius: 5px;
  background-color: rgb(108, 106, 106);
  color: white;
  padding: 10px 20px;
}

.top,
.bottom,
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.city {
  font-weight: 700;
  font-size: 35px;
  margin: 0;
}

.weather-description {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}

.weather-icon {
  width: 100px;
}

.temperature {
  font-weight: 700;
  font-size: 50px;
  margin: 0;
}

.parameter-label {
  color: rgb(195, 191, 191);
  margin-right: 5px;
}

.details {
  padding-top: 15px;
  width: 100%;
  border-top: 1px solid white;
}
